html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#output-panel {
  background-color: lightblue;
  flex: 1;
}

#settings-panel {
  padding: 10px;
}

.input-row {
  width: 250px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.input-cell {
  flex: 1;
}